<div class="container text-white font-weight-bold" id="show-box-post" >

<p id="notice"><%= notice %></p>

<h5 class="card-title text-white font-weight-bold" style="font-size: xx-large;">Announcement Details</h5>

<p class="card-text text-white font-weight-bold" style="font-size: larger; margin: 20px">
  <%= @announcement.announcement_title %>
</p>

<p class="card-text text-white font-weight-bold" style="font-size: larger; margin: 20px">
  <%= @announcement.content %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement), class:"btn btn-light" , style:"margin:20px" %> |
<%= link_to 'Back', announcements_path, class:"btn btn-outline-light", style:"margin:20px"  %>

</div>