<div class="container text-white font-weight-bold" id="show-box-post" >

<p id="notice"><%= notice %></p>

<h5 class="card-title text-white font-weight-bold" style="font-size: xx-large;">Announcement Details</h5>

<p class="card-text text-white font-weight-bold" style="font-size: larger;", id="div-margin">
  <%= @announcement.announcement_title %>
</p>

<p class="card-text text-white font-weight-bold" style="font-size: larger;", id="div-margin">
  <%= @announcement.content %>
</p>

<%= link_to 'Edit', edit_sport_announcement_path(@sport), class:"btn btn-light" , style:"margin:20px" %> |
<%= link_to 'Add announcement', sport_announcements_path(@sport) %> |
<%= link_to 'Back', sport_announcements_path(@sport) %>

</div>