<div class="container" id="myform">
  <h1 class="display-4" id="head-text-color">My Profile</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <!-- avatar -->
    <div class="field form-group">
      <%= image_tag(resource.avatar_thumbnail) if resource.avatar.attached? %>
    </div>
  
    <div class="field form-group"> 
      <%= f.file_field :avatar , class:"btn btn-outline-light"%>
    </div>
    <!-- avatar -->

  <p class="lead">
    <div class="field form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" , placeholder:"email" %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </p>

  <hr class="my-4">

  <div class="field form-group">
    <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" , placeholder:"password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" , placeholder:"password-confirm" %>
  </div>

  <div class="field form-group">
    <i>(Enter current password to confirm changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" , placeholder:"current password" %>
  </div><br/>
 
  <div class="field form-group">
    <%= f.country_select :country, class:"form-control" , placeholder:"country" , class:"btn btn-outline-light"%>
  </div><br/>

   <div class="field form-group">
    <%= f.text_field :state, class:"form-control" , placeholder:"state" %>
  </div><br/>

  <div class="field form-group">
    <%= f.text_field :city, class:"form-control" , placeholder:"city" %>
  </div><br/>

  <div class="field form-group">
    <%= f.text_field :phone_number, class:"form-control" , placeholder:"phone number" %>
  </div><br/>

  <div class="field">
    male<%= f.radio_button :gender, ['male']%>
    female<%= f.radio_button :gender, ['female']%>
  </div><br/>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-outline-light" %>
  </div>
  <% end %>
  <p class="lead">
    <h3 id="head-text-color">Cancel my account</h3>
  
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class:"btn btn-outline-light" %></p>
    
    <%= link_to "Back", :back , class:"btn btn-outline-light"%>
  </p>
</div>
