<h2 id="head-text-color">Register</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <% if resource.avatar.attached? %>
      <%= image_tag(resource.avatar)%>
    <% else %>
      <%= image_tag("/default_profile.jpg") %>
    <% end %>
  </div>


  <div class="field form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"abc@gmail.com" %>
  </div>

  <div class="field form-group">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"password" %>
  </div>

  <div class="field form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"password-confirmation" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-outline-light"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
