<%= form_for([@sport,@post,@post.comments.build]) do |f| %>
 <br/>
  <p>
    <%= f.hidden_field(:comment, :value => :sport_id) %>
    <%= f.hidden_field(:comment, :value => :post_id) %>
    <%= f.text_area :body, class:"form-control", placeholder:"comment here" %>
  </p><br/>

  <p>
    <%= f.submit  class:"btn btn-outline-light" %>
  </p>

<% end %>