
<%= form_with(model: sport, local: true) do |form| %>
  <% if sport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sport.errors.count, "error") %> denied sport from being saved:</h2>

      <ul>
      <% sport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
 
  <div 
  style="width: 600px;
    padding: 30px;
    box-shadow: 0 8px 8px -4px rgb(32, 45, 165);">
    
    <div class="field form-group">
      <%= form.text_field :sport_name, class:"form-control" , placeholder:"sport name" %>
    </div><br/>
  
    <div class="field form-group">
      <%= form.text_area :sport_equipement, class:"form-control" , placeholder:"sport-equipement" %>
    </div>
  
    <!-- <div class="field">
      <%= form.label :user_id %>
      <%= form.text_field :user_id %>
    </div> -->
  
    <br/>
    <div class="actions">
      <%= form.submit class:"btn btn-light" %>
    </div><br/>
  
  </div>
  
<% end %>
