<div class="container" style="width: 28rem;" >

  <div class="card-body" id="show-box">

    <h5 class="card-title text-white font-weight-bold" style="font-size: xx-large;">Sport Details</h5>
    <br/>

    <p class="card-text text-white font-weight-bold" style="font-size: larger; margin: 20px">
      <%= @sport.user.email.split('@')[0].capitalize %>
    </p><br/>

    <p class="card-text text-white" style="font-size: larger; margin: 20px">
      <strong> <%= @sport.sport_name %> </strong>  |  <strong> <%= @sport.sport_equipement %> </strong>
    </p><br/>

    <%= link_to 'Back', sports_path ,class:"btn btn-outline-light", style:"margin: 20px" %>
    
    <% if current_user && current_user.admin %>
    | <%= link_to 'Edit', edit_sport_path(@sport), class:"btn btn-light" , style:"margin: 20px" %>
    <% end %>
    
  </div>
</div>