<div class="vertical-nav bg-dark text-white" id="sidebar">
   <!-- my sport section -->
   <div class="py-4 bg-dark">
     <h1 id="div5">Sport</h1>  
   </div>

   <p class="text-gray font-weight-bold text-uppercase" id="dash">Dashboard</p>

   <div id="div6">
   
      <ul class="nav flex-column bg-dark" id="div7">

         <li class="nav-item navbar-brand">
            <%= link_to 'Home', root_path %>
         </li><br/>

         <div class="dropdown-divider text-muted" id="divider1"></div>
   
         <li class="nav-item navbar-brand">
           <%= link_to 'Sports', sports_path %>
         </li><br/>
      
         <div class="dropdown-divider" id="divider1"></div>
   
         <li class="nav-item navbar-brand">
           <%= link_to 'Posts',  sport_posts_path(4) %>
         </li><br/>

         <div class="dropdown-divider" id="divider1"></div>

         <li class="nav-item navbar-brand">
            <%= link_to 'Achievements', achievements_path %>
         </li><br/>

         <% if current_user && current_user.admin %>

         <div class="dropdown-divider" id="divider1"></div>

         <li class="nav-item navbar-brand">
            <%= link_to 'Announcements', sport_announcements_path(4) %>
         </li><br/>
         <% end %>

         <div class="dropdown-divider" id="divider1"></div>

         <% if current_user %>
            <li class="nav-item navbar-brand">
               <%= link_to "My Profile", edit_user_registration_path%>
            </li><div class="dropdown-divider" id="divider1"></div>

            <li class="nav-item navbar-brand">
               <%= link_to 'Sign Out', destroy_user_session_path , method: :delete %>
            </li><div class="dropdown-divider" id="divider1"></div>
         <% else %>
   
            <li class="nav-item navbar-brand">
               <%= link_to 'Sign Up', new_user_registration_path %>
            </li><div class="dropdown-divider" id="divider1"></div>
   
            <li class="nav-item navbar-brand">
              <%= link_to 'Sign In', new_user_session_path %>
            </li><div class="dropdown-divider" id="divider1"></div>
      
         <% end %>
      </ul>
   </div>
</div>

   <!-- end vertical navbar -->

   <!-- page content holder -->

<div class="page-content" id="content">
   <!-- toggle button -->
   <button id="sidebarCollapse" type="button" class="btn btn-light bg-dark shadow-sm px-3 mb-3">
     <i class="fa-thin fa-chart-simple-horizontal mr-1"></i>
     <small class="text-uppercase font-weight-bold text-white">Menu</small>
   </button>

  <div class="separater"></div>
     <div class="row text-white">
        <div class="col-lg-5">
           <div class="lead" id="col-txt">
              <p>Community</p>
              <p>for sport enthusiast.</p>
              <p> Join In</p>
            </div>
         </div>
  
      <div class="col-lg-7">

      <p class="lead">
        <div class="gify">
          <iframe src="https://giphy.com/embed/WlJnnlbnApNCM" 
            width="100%" 
            height="70%" 
            style="position:absolute" 
            frameBorder="0" 
            class="giphy-embed" allowFullScreen></iframe>
         </div>
      </p>
   </div>
</div>
</div>
</div>