<div class="card" id="margin">
  <div class="card-header">
    <h4>List of Offers</h4>

    <!-- <%= form_tag offers_path, :method => 'get' do %>
      <%= collection_select :offer, :business_id, Business.all, :id, :name, prompt: true%>
      <%= submit_tag "filter" %>
    <% end %> -->

    <%= render 'filters' %>
    <%= render 'audits' %>
    <div class="card-body">
      <!-- server side dataTable starts-->
      <table id='offers-table' class="table table-bordered table-striped sport-id-class"> 
      </table>    
      <!-- server side dataTable ends -->
      <%= link_to 'New offer', new_offer_path, class: "btn btn-primary" %>
    </div>
    

  </div>
</div><br>