<p id="notice"><%= notice %></p>

<div class="container-fluid" id="div2">
    <div class="row" id="div3">

      <div class="col-6" >
         <% (0...@post.images.count).each do |image| %><br/><br/>
         <div class="post-show">
            <%= image_tag(@post.images[image])%>
         </div>
         <% end %>

         <div id="show-box-post">
          <div id="div5">
            <%= @post.sport.sport_name %>
            <br/><br/>
            <%= @post.title %>
            <br/><br/>
            <%= @post.description %>
            <br/><br/>
            <%= @post.tag %>
          </div>
        </div>
    </div>
    
    <div id="div4" class="col-6" >
        <h6 id="head-text-color"><%= @post.comments.count%>  Comments</h6>
        
        <%= render @post.comments  %>
        <h2 id="head-text-color">
          <%= @post.user.email.split('@')[0].capitalize  %>
        </h2>
        <h3 id="head-text-color">Add Comments</h3>
        <%= render 'comments/form' %>
      
      <%= link_to 'Back', posts_path, class:"btn btn-outline-light" %> |
     
      <%= link_to 'Edit', edit_sport_post_path(@post), class:"btn btn-light" %> 
  
    </div>
  </div>
</div> 