<div class="container text-white font-weight-bold" id="show-box-achievement" >
   
<p id="notice"><%= notice %></p>

<h1 style="font-size: xx-large;">Achievement Details</h1>
<p>
  <%= @achievement.sport_name %>
</p>

<p>
  <%= @achievement.achievement %>
</p>

<%= link_to "View and Download", @achievement.file, download: '' %><br/>

<br/>
<p>
  <strong>Captain: </strong>
  <%= @achievement.captain %>
</p>

<p>
  <strong>Status: </strong>
  <%= @achievement.gender %>
</p><br/>

<%= link_to 'Edit', edit_achievement_path(@achievement), class:"btn btn-light" %> |
<%= link_to 'Back', achievements_path , class:"btn btn-outline-light" %>

</div>