<p id="notice"><%= notice %></p>

<p>
  <strong>Player name:</strong>
  <%= @achievement.player_name %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @achievement.sport_name %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @achievement.achievement %>
</p>

<%= link_to "View and Download", @achievement.file, download: '' %>

<p>
  <strong>Captain:</strong>
  <%= @achievement.captain %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @achievement.gender %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
